In [1]:
from utils import general_utils as gu

In [2]:
user_prompt="""
Parse this CSV and remove duplicates in the Industry_name_NZSIOC and Variable_code columns, check that there are no nulls in the date Industry_code_ANZSIC06
"""

model_name="gpt-4o-mini"
model_temperature = 1

report = gu.anonymize_and_process(
    model_name = model_name,
    temperature = model_temperature,
    columns_to_anonymize=["Year"],
    input_csv_dir="./resources/input/",
    output_csv_dir="./resources/output/",
    output_file_name="processed.csv",
    report_file_name="REPORT.txt",
    prompt=user_prompt,
    show_sample=True
)

gu.print_report(report)

# Original data:

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...

# Anonymized data:

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,d398b29d3dbbb9bf201d4c7e1c19ff9d43c15fd45a0cec...,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...

‚úÖ Process completed. Report saved at: ./resources/output/REPORT.txt

===== Processing Report =====

‚úÖ CSV read from: ./resources/input/
‚û°Ô∏è Rows: 50985, Columns: 10
üîí Anonymized column: Year
üìÅ Anonymized CSV saved at: ./resources/output/processed.csv
‚òÅÔ∏è File uploaded to OpenAI with file_id: file-QSiSACFU8cwhbiHEE9f7oP
ü§ñ Assistant response:

--- Begin Assistant Response ---

The data has been processed to remove duplicates based on the `Industry_name_NZSIOC` and `Variable_code` columns. Additionally, there are no null values in the `Industry_code_ANZSIC06` column.

If you would like to perform further analysis or save the cleaned data, please let me know!

=================================