In [1]:
from utils import general_utils as gu

In [2]:
user_prompt="""
Parse this CSV and remove duplicates in the reference_number column, and tell me in which date there were more vehicles implicated
"""

model_name="gpt-4o-mini"
model_temperature = 1

report = gu.anonymize_and_process(
    model_name = model_name,
    temperature = model_temperature,
    columns_to_anonymize=["reference_number"],
    input_csv_dir="./resources/input/",
    output_csv_dir="./resources/output/",
    output_file_name="processed.csv",
    report_file_name="REPORT.md",
    prompt=user_prompt,
    input_filename="normalized_dataset.csv",
    show_sample=True
)

gu.print_report(report)

## Original data:

,reference_number,grid_ref_easting,grid_ref_northing,number_of_vehicles,number_of_casualties,accident_date,time_24hr,1st_road_class,road_surface,lighting_conditions,weather_conditions,casualty_class,casualty_severity,sex_of_casualty,age_of_casualty,type_of_vehicle
0,1112091,429175,431904,2,1,01/01/2014,1840,6,2,4,2,1,3,1,58,9

## Anonymized data:

,reference_number,grid_ref_easting,grid_ref_northing,number_of_vehicles,number_of_casualties,accident_date,time_24hr,1st_road_class,road_surface,lighting_conditions,weather_conditions,casualty_class,casualty_severity,sex_of_casualty,age_of_casualty,type_of_vehicle
0,3af1988122f9bb31f43c07be192164ff239d9a6fa2a5e2...,429175,431904,2,1,01/01/2014,1840,6,2,4,2,1,3,1,58,9

‚úÖ Process completed. Report saved at: ./resources/output/REPORT.md

===== Processing Report =====

‚úÖ CSV read from: ./resources/input/

‚û°Ô∏è Rows: 2533, Columns: 16

üîí Anonymized column: reference_number

üìÅ Anonymized CSV saved at: ./resources/output/processed.csv

‚òÅÔ∏è File uploaded to OpenAI with file_id: file-DF4wTwkNq87J9dZ9aLn1Ug

ü§ñ Assistant response:

--- Begin Assistant Response ---

The date with the highest number of vehicles involved in incidents is **March 10, 2014**, with a total of **29 vehicles** implicated.

If you need further analysis or any additional tasks, let me know!

=================================